APP_NAME="Benson Idahosa University"
APP_ENV=local
APP_KEY=base64:tHaut8xN6c1ZPny6cW6SDcj7a9ynRZVkDcisFqRIOFk=
APP_DEBUG=true
APP_URL=http://localhost
_APP_URL=https://biuportal.org

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=vudo_db
DB_USERNAME=root
DB_PASSWORD=

_DB_DATABASE=pearsdcd_db
_DB_USERNAME=pearsdcd_root
_DB_PASSWORD="_Strongp@ssw0rd"

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=525600

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=a319b248a9ae8e
MAIL_PASSWORD=8e77fe6fb61bf7
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=dehphantom@yahoo.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

INTERSWITCH_ENV=TEST
INTERSWITCH_REDIRECT_URL=http://127.0.0.1:8000/payment/verify
INTERSWITCH_REDIRECT_NAME="payment.verify"
INTERSWITCH_PAY_ITEM_ID=Default_Payable_MX15510
INTERSWITCH_MERCHANT_CODE=MX15510

_INTERSWITCH_ENV=LIVE
_INTERSWITCH_REDIRECT_URL=https://api.biuportal.org/payment/verify
_INTERSWITCH_REDIRECT_NAME="payment.verify"
_INTERSWITCH_PAY_ITEM_ID=Default_Payable_MX15510
_INTERSWITCH_MERCHANT_CODE=MX15510 

_INTERSWITCH_ENV=TEST
_INTERSWITCH_REDIRECT_URL=http://portal.biu.edu.ng/server/payment/verify
_INTERSWITCH_REDIRECT_NAME="payment.verify"
_INTERSWITCH_PAY_ITEM_ID=Default_Payable_MX15510
_INTERSWITCH_MERCHANT_CODE=MX15510

WEB_MASTER=https://www.github.com/2gbeh/