/* CSS Document */

.chatbot {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  section {
    bottom: 45px;
    position: fixed;
    right: -85px;
    z-index: 99;
  }

  .chatbot-fab a:link {
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.24);
    display: inline-block;

    height: 70px;
    width: 70px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

    &:hover {
      box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    }
  }

  .chatbot-flag {
    background-color: $blue;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 2px 6px rgba(0, 0, 0, 0.24);
    padding: 12px 18px;
    min-height: 90px;
    width: 240px;
    bottom: 80px;
    right: 60px;
    display: none;

    &::before {
      content: "";
      width: 0px;
      height: 0px;
      border: 0.8em solid transparent;
      position: absolute;
    }

    p {
      // font-size: 13px;
      margin: 0 0 5px;
      padding: 0;
    }

    .chatbot-flag-nav a {
      margin-right: 4px;
      display: inline-block;

      i {
        color: $gold;
      }
    }
  }

  #top-right::before {
    border-top: 10px solid $blue;
    bottom: -20px;
    right: 7px;
  }

  @media only screen and (max-width: 640px) {
    section {
      bottom: 30px;
      right: 20px;
    }

    .chatbot-fab a:link {
      height: 60px;
      width: 60px;
    }

    .chatbot-flag {
      bottom: 40px;
      right: 55px;
      min-height: auto;
    }
  }
}